/* PAGINA */
.pg-header img{
    height: 80px;
    margin: 15px;
}
.pg-container{
    margin: auto auto;
    width: 100%;
    height: calc(100vh - 110px);
    background-color: rgb(228, 228, 228);
}

/* LISTA DE TIPOS DE CARTOES */
.list-cards{
    font-size: 10pt;
    margin-right: 20px;
}
.item-list-card {
    width: 280px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 5px 5px 10px 5px;
    box-shadow: 0px 3px 5px rgb(246, 246, 246);
    color: white;
}

/* AREA DO CARTAO */
.card{
    width: 680px;
    height: 445px;
    box-shadow: 1px 1px 5px rgb(246, 246, 246);
    background-color: rgb(255, 255, 255);
}

.card-body{
    background-color: rgb(255, 255, 255);
}

/* TITULO DO CARTAO */
.card-header{
    background-color: rgb(5, 8, 24);
    text-align: center;
}
.card-header h1 {
    font-weight: 900;
    color: white;
}


/* PERSONAGEM */
.card-hero-image {
    width: 50%;
    margin: auto auto;
    text-align: center;
    margin-left: -10px;
    padding: 10px;
}

.card-hero-image img{
    height: 275px;
}

/* MENSAGEM */
.card-message label{
    font-weight: bold;
    font-family: cursive;
}

.textarea {
    border: none;
    font-family: cursive;
    font-size: 13px;
    line-height: 30px;
    margin: 1% auto;
    padding: 10px;
    resize: none;
    height: 245px;
    width: 300px;
    overflow-wrap: break-word;
    background-image: -moz-linear-gradient(top , transparent, transparent 29px,#bebebe 0px); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 29px,#bebebe 0);
    word-wrap: normal;
    -webkit-background-size:  100% 30px;
    background-size: 100% 30px;
}

input {
    border: none;
    font-family: cursive;
}

/* SUBMIT */

.submit {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    z-index: 50;
    background-color: #009c34;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    margin-left: 30px;
}

.submit button {
}
